* {
    box-sizing: content-box;
}
h1 {
    text-align: center;
}
 
.title {
    /* clear: inline-end; */
    width: fit-content; 
    /* position: absolute;
    right: 0px;
    top: 0px; */
    float: right;
    clear: left;
    /* display: block; */
    font-size: 26px;
    font-weight: 900;
    border: 3px solid black;
    
    padding: 0px 16px 0px 16px;
    
    box-sizing: content-box;
}
p {
    display: inline-block;
}
.chicken {
    background-color: rgb(208, 112, 128);
   
}
.beef {
    background-color: rgba(255, 0, 0, 0.537);
   
}
.sushi {
    background-color: rgb(166, 166, 119) ;
   
}
/* section {
    clear: left;
} */
.container {
    margin: 30px;
    /* padding: 30px; */
    outline-offset: -22px;
    box-shadow:inset;
    border: 1px solid black;
    background-color: gray;
}
.footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    background-color: gray;
    border: 3px solid black;
}